<div class="profile-card">
    <div class="avatar-name">
        <img src="\assets\imgs\Img (7).png" class="profile-card__avatar">

        <div class="profile-card__name">
            <strong class="h6">Райан Гослинг</strong>
            <span class="subtitle">ryan.gosling</span>
        </div>
    </div>

    <div class="profile-card__description">
        asdnajsbdfajfs
    </div>

    <div class="profile-card__tags">
        <div class="skill-tag">ANGULAR</div>
    </div>

    <div class="profile-card__action-btns">
        <button class="btn">
            Подписаться
        </button>
    </div>
</div>